**/.DS_Store

# editor stuff
**/.idea
**/.vscode
**/*.sublime-workspace
**/*.sublime-project

# project stuff
secrets/
pkg/**
!pkg/.gitkeep
bin/**
!bin/.gitkeep
!pkg/dep/sources/.gitkeep
src/github.com/webofmars/oncall-buddy-finder/vendor/**
!src/github.com/webofmars/oncall-buddy-finder/vendor/.gitkeep